@model As24WebServicesTest.As24.ConsumptionOfConsumptionData19jCfK4b

<div>
    <h4>Consumption</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.liquid.combined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liquid.combined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liquid.urban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liquid.urban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liquid.extra_urban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liquid.extra_urban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liquid.fuel_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liquid.fuel_type)
        </dd>

    </dl>
</div>