@model As24WebServicesTest.As24.ArticleDetailItem

@{
    Layout = null;
}

<div>
    <h4>ArticleDetailItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.accident_free)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accident_free)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alloy_wheels_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alloy_wheels_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.body_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.body_colorgroup_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body_colorgroup_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.body_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.body_painting_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body_painting_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.covering_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.covering_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fuel_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fuel_type_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gear_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gear_type_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.general_inspection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.general_inspection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.initial_registration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.initial_registration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interior_color_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interior_color_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kilowatt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kilowatt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owners_offer_key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owners_offer_key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primary_fuel_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primary_fuel_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transmission_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transmission_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicle_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cylinder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cylinder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kerb_weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kerb_weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.licence_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.licence_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tsn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tsn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warranty_duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warranty_duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
